In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
fees = pd.read_csv("C:\\Users\Anastasia\Downloads\extract - fees - data analyst - .csv")

In [4]:
fees.head()

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after

In [6]:
fees.tail()

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
21056,12372,20262.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 20262,2020-10-10 06:42:22.822743+00,2020-10-13 14:25:04.18049+00,2020-11-17 05:14:00.080854+00,NaN,NaN,after
21057,20768,26764.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 26764,2020-10-31 15:24:18.680694+00,2020-10-31 15:24:18.680715+00,2020-12-16 07:10:54.697639+00,NaN,NaN,after
21058,18779,25331.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 25331,2020-10-27 17:28:51.749177+00,2020-10-27 17:28:51.7492+00,2020-11-18 04:35:42.915511+00,NaN,NaN,after
21059,16542,23628.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 23628,2020-10-23 16:27:52.047457+00,2020-10-23 16:27:52.047486+00,2020-12-18 05:18:01.465317+00,NaN,NaN,after
21060,13301,20982.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 20982,2020-10-14 07:12:43.958192+00,2020-10-14 07:12:43.958219+00,2021-02-12 13:02:46.95022+00,NaN,NaN,after

In [7]:
fees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  object
 8   updated_at       21061 non-null  object
 9   paid_at          15531 non-null  object
 10  from_date        7766 non-null   object
 11  to_date          7766 non-null   object
 12  charge_moment    21061 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.1+ MB

In [11]:
fees.nunique()
fees.duplicated(['cash_request_id']).sum()
fees['cash_request_id'].value_counts()

cash_request_id
12225.0    35
5006.0     28
4410.0     24
12452.0    23
11376.0    21
           ..
24822.0     1
26203.0     1
22956.0     1
23207.0     1
25331.0     1
Name: count, Length: 12933, dtype: int64

In [9]:
fees.isnull().sum()

id                     0
cash_request_id        4
type                   0
status                 0
category           18865
total_amount           0
reason                 0
created_at             0
updated_at             0
paid_at             5530
from_date          13295
to_date            13295
charge_moment          0
dtype: int64

In [19]:
fees['status'].value_counts()

status
accepted     14841
cancelled     4938
rejected      1194
confirmed       88
Name: count, dtype: int64

In [20]:
fees['total_amount'].value_counts()

total_amount
5.0     21060
10.0        1
Name: count, dtype: int64

In [15]:
subset12225 = fees[fees['cash_request_id']  == 12225.0]
subset12225.sample(10)
subset5006 = fees[fees['cash_request_id']  == 5006.0]

In [17]:
subset12225['reason'].value_counts()

reason
Postpone Cash Request 12225           34
Instant Payment Cash Request 12225     1
Name: count, dtype: int64

In [18]:
subset5006['reason'].value_counts()

reason
Postpone Cash Request 5006         25
month delay on payment - 9/2020     2
rejected direct debit               1
Name: count, dtype: int64