In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
cash =  pd.read_csv('../project_dataset/cash_request.csv')
cash.rename(columns={'id': 'cash_request_id'}, inplace=True)
print(cash.info())
fees =  pd.read_csv('../project_dataset/fees_data.csv')
print(fees.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cash_request_id             23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  object
 4   updated_at                  23970 non-null  object
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  object
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  object
 9   cash_request_received_date  16289 non-null  object
 10  money_back_date             16543 non-null  object
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  object
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   object
 15  reco_last_update            3330 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  object
 8   updated_at       21061 non-null  object
 9   paid_at          15531 non-null  object
 10  from_date        7766 non-null   object
 11  to_date          7766 non-null   object
 12  charge_moment    21061 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.1+ MB
None

In [3]:
cash['created_at'] = pd.to_datetime(cash['created_at'])
cash['updated_at'] = pd.to_datetime(cash['updated_at'])
cash['moderated_at'] = pd.to_datetime(cash['moderated_at'],unit='ns')
cash['reimbursement_date'] = pd.to_datetime(cash['reimbursement_date'],unit='ns')
cash['cash_request_received_date'] = pd.to_datetime(cash['cash_request_received_date'],unit='ns')
cash['money_back_date'] = pd.to_datetime(cash['money_back_date'],unit='ns')
cash['send_at'] = pd.to_datetime(cash['send_at'],unit='ns')
cash['reco_creation'] = pd.to_datetime(cash['reco_creation'],unit='ns')
cash['reco_last_update'] = pd.to_datetime(cash['reco_last_update'],unit='ns')

In [4]:
fees['created_at'] = pd.to_datetime(fees['created_at'])
fees['updated_at'] = pd.to_datetime(fees['updated_at'])
fees['paid_at'] = pd.to_datetime(fees['paid_at'],unit='ns')
fees['from_date'] = pd.to_datetime(fees['from_date'],unit='ns')
fees['to_date'] = pd.to_datetime(fees['to_date'],unit='ns')

In [11]:
merged = pd.merge(cash, fees, on='cash_request_id', how='left', suffixes=('_cash', '_fees'))

In [13]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32094 entries, 0 to 32093
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cash_request_id             32094 non-null  int64
 1   amount                      32094 non-null  float64
 2   status_cash                 32094 non-null  object
 3   created_at_cash             32094 non-null  object
 4   updated_at_cash             32094 non-null  object
 5   user_id                     29522 non-null  float64
 6   moderated_at                21759 non-null  object
 7   deleted_account_id          2573 non-null   float64
 8   reimbursement_date          32094 non-null  object
 9   cash_request_received_date  24149 non-null  object
 10  money_back_date             23917 non-null  object
 11  transfer_type               32094 non-null  object
 12  send_at                     22678 non-null  object
 13  recovery_status             7200 non-null   object
 14  reco_creation               7200 non-null   object
 15  reco_last_update            7200 non-null   object
 16  id                          21057 non-null  float64
 17  type                        21057 non-null  object
 18  status_fees                 21057 non-null  object
 19  category                    2196 non-null   object
 20  total_amount                21057 non-null  float64
 21  reason                      21057 non-null  object
 22  created_at_fees             21057 non-null  object
 23  updated_at_fees             21057 non-null  object
 24  paid_at                     15531 non-null  object
 25  from_date                   7766 non-null   object
 26  to_date                     7766 non-null   object
 27  charge_moment               21057 non-null  object
dtypes: float64(5), int64(1), object(22)
memory usage: 6.9+ MB